/* Fet per Mateo Salamanca */
/* Implantació d'aplicacions web - Youtube */
/* CSS pàgina principal Youtube.com (index.html) */

.html_index{
    background-color: #0f0f0f;
}
body{
    margin: 0%;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Menú superior */
.barra_superior{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding:0px 12px 0px 24px;
}
.esquerre{
    display: flex;
    align-items: center;
}
menu{
    width: 40px;
    height: 40px;
    padding: 8px;
}
.logoyt{
    width: 100%;
    height: 100%;
    padding: 18px 14px 18px 16px;
}
.centre{
    margin-left: 10%;
    height: 40px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra_busqueda{
    display: flex;
    align-items: center;
    height: 40px;
    width: 90%;
}
.buscador{
    display: flex;
    align-items: center;
    height: 40px;
    width: 83%;
    border: solid 1px hsl(0, 0%, 18.82%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px 4px 0px 16px;
    background-color: #0f0f0f;
}
.buscar{
    color: #565656;
    font-family: Roboto;
}
.lupa{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border: 1px solid hsl(0, 0%, 18.82%);
    background-color: #ffffff14;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.microfon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 100%;
}
.img_microfon{
    height: 40px;
    width: 40px;
}
.dreta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 15%;
}
.crear{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 35%;
    min-width: 90px;
    overflow: hidden;
}
.img_crear{
    height: 40px;
    width: 90px;
}
.campana{
    height: 24px;
    width: 24px;
    padding: 16px;
    margin-right: 5px;
}
.usuari{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 172, 55);
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 10px;
}
.m_usuari{
    color: white;
    font-family: Roboto;
}
.cos_youtube{
    display: flex;
}
/* Barra menú esquerre */
.menu_esquerre{
    display: block;
    width: 250px;
    height: calc(100% - 56px);
    background-color: #0f0f0f;
    padding-right: 2px;
    padding-bottom: 16px;
    overflow-y: scroll;
    position: fixed;
    top: 56px;
}
.menu_esquerre::-webkit-scrollbar {
    width: 8px;
}
.menu_esquerre::-webkit-scrollbar-thumb{
    border-radius: 4px;
}
.menu_esquerre:hover::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.4);
}
.menu_esquerre::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.6);
}
/* Estil general botons menú esquerre */
.botons_principals{
    padding-top: 10px;
    margin-left: 14px;
}
.botons_menu_esquerre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
}
.img_botons_esquerre{
    width: 24px;
    height: 24px;
}
.text_botons_esquerre{
    width: 132px;
    height: 20px;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    padding-left: 24px;
    padding-top: 3px;
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis; 
}
/* Estil Apartat "Tú" menú esquerre*/
.apartat_tu{
    margin-top: 12px;
    margin-left: 14px;
    padding-top: 24px;
    border-top: 1px solid #565656;
}
.text_apartat_tu{
    margin-bottom: 10px;
    padding-left: 12px;
    align-items: center;
    display: flex;
}
.text_tu{
    width: 26px;
    height: 22px;
    color: white;
    font: 16px Roboto;
    font-weight: bold;
}
/* Estil Apartat "Subscripcions" menú esquerre*/
.apartat_subscripcions{
    margin-top: 12px;
    padding-left: 14px;
    padding-top: 24px;
    border-top: 1px solid #565656;
}
.text_apartat_subscripcions{
    margin-bottom: 10px;
    padding-left: 12px;
    align-items: center;
    display: flex;
}
.text_subscripcions{
    height: 22px;
    color: white;
    font: 16px Roboto;
    font-weight: bold;
}
.img_subscripcions{
    margin-left: 5px;
}
.img_subs_yt{
    border-radius: 100%;
}
/* Apartat "explorar" menú esquerre */
.apartat_explorar{
    margin-top: 12px;
    padding-left: 14px;
    padding-top: 24px;
    border-top: 1px solid #565656;
}
.text_apartat_explorar{
    margin-bottom: 10px;
    padding-left: 12px;
    align-items: center;
    display: flex;
}
.text_explorar{
    height: 22px;
    color: white;
    font: 16px Roboto;
    font-weight: bold;
}
/* Apartat "Més de Youtube" menú esquerre */
.apartat_mesdeyoutube{
    margin-top: 12px;
    padding-left: 14px;
    padding-top: 24px;
    border-top: 1px solid #565656;
}
.text_apartat_mesdeyoutube{
    margin-bottom: 10px;
    padding-left: 12px;
    align-items: center;
    display: flex;
}
.text_mesdeyoutube{
    height: 22px;
    color: white;
    font: 16px Roboto;
    font-weight: bold;
}
/* Apartat configuracions extra menú esquerre */
.apartat_configuracions{
    margin-top: 12px;
    padding-left: 14px;
    padding-top: 24px;
    border-top: 1px solid #565656;
}
/* Guia de links menú esquerre */
.apartat_guia_links{
    margin-top: 12px;
    border-top: 1px solid #565656;
    padding-bottom: 30px;
}
.guia_links{
    padding: 16px 24px 0px;

}
.links_menu_esquerre{
    margin-right: 8px;
    color: #AAAAAA;
    font: 13px Roboto;
    font-weight: bold;
}
.copyright_menu_esquerre{
    color: #717171;
    font: 12px Roboto;
    margin-bottom: 12px;
}
/* Barra d'etiquetes superior yt */
.barra_etiquetes{
    width: 100%;
    height: 56px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #0f0f0f;
}
.etiquetes{
    width: fit-content;
    height: 32px;
    padding: 0px 12px;
    margin-right: 12px;
    border-radius: 8px;
    background-color: #ffffff14;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_etiquetes{
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
}
.etiqueta_tot{
    width: fit-content;
    height: 32px;
    padding: 0px 12px;
    margin-right: 12px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_etiqueta_tot{
    color: black;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
}
/* Apartat de contingut yt */
.contingut_yt{
    display: block;
    width: calc(100% - 252px);
    background-color: #0f0f0f;
    padding: 0px 10px 25px 8px ;
    position: absolute;
    top: 56px;
    left: 252px;
}
/* Fila videos yt*/
.fila_videos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.video{
    display: block;
    width: 31.5%;
    height: 50%;
    margin-right: 14px;
    min-width: 300px;
}
.img_video{
    width: 100%;
    height: 70%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.informacio_video{
    display: flex;
}
.img_creador{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-right: 15px;
}
.descripcio_video{
    display: block;
    width: 100%;
}
.titol_video{
    font-weight: bold;
    font-size: 16px;
    font-family: Roboto;
    color: #f1f1f1;
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    line-clamp: 2;   
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.creador_video{
    color: #AAAAAA;
    font-size: 14px;
    font-family: Roboto;
    margin-top: 2px;
}
.verificat_videos{
    width: 14px;
    height: 14px;
}
.estadistiques_video{
    color: #AAAAAA;
    font-size: 14px;
    font-family: Roboto;
}
.opcions_videos{
    width: 36px;
    height: 36px;
    background-size: cover;
}
/* Fila shorts yt*/
.YouTube_Shorts{
    width: calc(100% - 50px);
    display: block;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.capçelera_shorts{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.titol_shorts{
    display: flex;
}
.titol_YouTubeShorts{
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    margin-left: 10px;
}
.opcions_capçelera_shorts{
    margin-right: 20px;
}
.fila_shorts{
    display: flex;
    flex-wrap: wrap;
}
.short{
    width: 20%;
    height: 550px;
    min-width: 300px;
}
.img_shorts{
    width: 95%;
    height: 90%;
    border-radius: 8px;
}
.opcions_shorts{
    margin-right: 15px;
}




/* CSS detail.html Pàgina veure videos*/
.cos_youtube2{
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
/* Apartat principal/part esquerre */
.part_principal{
    display: block;
    width: 70%;
    padding-bottom: 400px;
    margin-left: 24px;
    padding: 24px 24px 0px 0px;
}
.img_visualitzador_video{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}
.info_botons_vd{
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.info_esquerre{
    width: 27%;
    height: 44px;
    display: flex;
    justify-content: space-between;
}
.creador{
    display: flex;
}
.titol_vd{
    color: #f1f1f1;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
}
.img_creador_vd{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}
.info_creador_vd{
    display: block;
}
.creador_vd{
    display: flex;
    color: #f1f1f1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}
.verificat_vd{
    width: 18px;
    height: 18px;
    color: #AAAAAA;
    margin-left: 4px;
}
.subs_creador{
    color: #AAAAAA;
    font-size: 12px;
    font-family: Roboto;
    margin-top: 4px;
}
.bt_subscriu-me{
    width: fit-content;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: Roboto;
    font-size: 14px;
    padding: 0px 16px;
    margin-left: 20px;
}
.info_dreta{
    justify-content: flex-end;
    display: flex;
}
.bt_likes_dislikes{
    display: flex;
    align-items: center;
    background-color: #252525;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    height: 36px;
    padding: 0px 10px;
}
.likes{
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: white;
    font-family: Roboto;
    margin-right: 10px;
}
.linia{
    height: 25px;
    border-left: solid 1px #565656;
}
.dislikes{
    margin-left: 10px;
}
.bt_comparteix_baixa_retalla{
    display: flex;
    align-items: center;
    background-color: #252525;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    height: 36px;
    padding: 0px 10px;
    margin-left: 10px;
    color: white;
    font-family: Roboto;
}
.img_bt_comparteix_baixa_retalla{
    margin-right: 5px;
}
.bt_opcions{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-left: 10px;
}
.apartat_descripcio_vd{
    display: block;
    align-items: center;
    background-color: #252525;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}
.estad_descripcio{
    display: flex;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}
.text_descripcio{
    color: white;
    font-family: Roboto;
    font-size: 14px;
}
.apartat_info_contingut{
    display: flex;
    width: 100%;
}
.info_contingut{
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #252525;
    border-radius: 8px;
    overflow: hidden;
}
#info_contingut_separacio{
    margin-left: 15px;
}
.text_info_contingut{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
}
.titol_info_contingut{
    color: #f1f1f1;
    font-size: 16px;
    font-family: Roboto;
}
.text1_info_contingut{
    color: #AAAAAA;
    font-size: 12px;
    font-family: Roboto;
    margin-top: 8px;
}
.text2_info_contingut{
    display: flex;
    align-items: center;
    color: #AAAAAA;
    font-size: 14px;
    font-family: Roboto;
    margin-top: 4px;
}
.div_img_videojocs{
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.img_videojocs{
    border-radius: 100%;
}

/* Apartat recomancions/part dreta */
.etiquetes_recomanacions{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.fletxa_recomanacions{
    width: 40px;
    height: 40px;
    background-size: cover;
    display: flex;
    align-items: center;
}
.videos_recomanats{
    width: 21%;
    height: 100%;
    display: block;
    padding: 24px 24px 0px 0px;
}
.video_recomanat{
    width: 100%;
    height: 10%;
    display: flex;
    margin-bottom: 12px;
}
.img_video_recomanat{
    width: 40%;
    height: 100%;
    border-radius: 8px;
    margin-right: 8px;
}
.info_vd_recomanat{
    display: block;
}
.titol_video_recomanat{
    font-weight: bold;
    font-size: 14px;
    font-family: Roboto;
    color: #f1f1f1;
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    line-clamp: 2;   
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.creador_vd_recomanat{
    color: #AAAAAA;
    font-size: 14px;
    font-family: Roboto;
}
.estad_vd_recomanat{
    color: #AAAAAA;
    font-size: 14px;
    font-family: Roboto;
}
